In [ ]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [ ]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

In [ ]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

In [ ]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

In [ ]:
# Changing array to series
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

In [2]:
class Cat:
    def __init__(self, name):
        self.name = name

In [3]:
first_cat = Cat('Felix')
print(first_cat.name)

Felix

In [4]:
second_cat = Cat('Garfield')
print(second_cat.name)

Garfield

In [6]:
first_dog = Dog('Fido', 'brown', 'woof!')
print(    first_dog.name)
print(first_dog.color)
first_dog.bark()

Fido
brown

'woof! woof!'

In [9]:
second_dog = Dog('Lady', 'blonde', 'arf')
print(     second_dog.name)
print(second_dog.color)
second_dog.bark()

Lady
blonde

'arf arf'